<template>
  <div class="pointer">
    <div v-if="data" class="hover-bg-dark-blue nowrap bg-blue white b pa1">
      {{ data.processItem.size }} / {{ data.remaining }}
    </div>
  </div>
</template>

<script>
  export default {
    props: ['data'],
    components: {},
    data: () => ({}),
    methods: {},
  };
</script>
