<template>
  <div class="diagram dt bt bl">
    <div class="dt-row">
      <div class="dtc pa1 br bb tc"> </div>
      <div class="dtc pa1 br bb tc bg-light-gray" v-for="(count, i) in Array(counter)">{{ i }}</div>
    </div>

    <div
      v-for="(scheduleItems, id) in schedule"
      :class="{'dt-row': 1}"
    >
      <div class="dtc pa1 br bb tc b bg-light-gray">{{ id }}</div>
      <div class="dtc br bb" v-for="(count, i) in Array(counter)">
        <badge :data="getScheduleById(i, scheduleItems)" />
      </div>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";

  import Badge from "./Badge";
  import algorithm from "./algorithm";

  export default {
    props: ['process', 'method', 'capacity'],
    components: { Badge },
    data: () => ({
      counter: 0,
    }),
    methods: {
      hasHighlight(process, id) {
        const item = _.find(process, { id: id });
        return item.highlight;
      },
      getScheduleById(id, scheduleItems) {
        return _.find(scheduleItems, {index: id});
      },
    },
    computed: {
      schedule() {
        const res = algorithm[this.method](this.process, this.capacity);
        this.counter = res.counter;

        return res.schedule;
      },
    },
  };
</script>

<style>
  .diagram {
    font-size: 13px;
  }
</style>