<template>
  <div class="flex justify-between bg-light-blue bb bw3 b--black-10 overflow-hidden fixed w-100 z-1 shadow-1" style="top: 0">
    <div class="brand b black-10"> SCHEDULER </div>

    <div class="flex">
      <!-- <el-dropdown split-button @click="" type="success" class="pa1">
        <i class="el-icon-caret-right"></i> Run

        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i class="el-icon-caret-right"></i> Play Simulation
          </el-dropdown-item>
          <el-dropdown-item>
            <i class="el-icon-refresh"></i> Loop
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown> -->
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({}),
    methods: {},
  };
</script>

<style>
  .brand {
    margin: -20px 0 -30px -10px;
    font-size: 80px;
    font-family: fantasy;
  }
</style>