<template>
  <div>
    <div class="table-process ba b--light-gray">
      <el-table
        :data="process"
        row-class-name="tc row-process"
        :cell-mouse-enter="highlight()"
        :cell-mouse-leave="clearHighlight()"
      >
        <el-table-column prop="id" align="center" class-name="b" label="Proses">
          <template slot-scope="scope">
            <div @mouseover="highlight(scope)" @mouseout="clearHighlight(scope)" class="b">
              {{ scope.row.id }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="start" align="center" label="T Datang">
          <template slot-scope="scope">
            <div @mouseover="highlight(scope)" @mouseout="clearHighlight(scope)">
              <input
                type="number"
                min="0"
                v-model="scope.row.start"
                @keyup="validate(scope, $event)"
                @change="validate(scope, $event)"
              />
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="size" align="center" label="T Proses">
          <template slot-scope="scope">
            <div class="flex" @mouseover="highlight(scope)" @mouseout="clearHighlight(scope)">
              <input
                type="number"
                min="0"
                v-model="scope.row.size"
                @keyup="validate(scope, $event)"
                @change="validate(scope, $event)"
              />
              <i
                v-if="process.length > 1"
                class="remove-process el-icon-close pointer dark-red ph1 dn"
                @click="remove(scope)"
              />
            </div>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <div class="tc pa2">
      <el-button type="warning" size="small" @click="addProcess()">
        + Tambah Proses
      </el-button>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";
  import $ from "jquery";

  export default {
    props: ['process'],
    components: {},
    data: () => ({
      increment: 0,
    }),
    methods: {
      validate(scope, e) {
        const value = Math.abs(_.toSafeInteger(e.target.value));
        this.process[scope.$index][scope.column.property] = value;
      },
      remove(scope) {
        this.process.splice(scope.$index, 1);
      },
      addProcess(size = 1) {
        this.process.push({
          id: "P" + this.increment.toString(16).toUpperCase(),
          start: this.increment,
          size: size,
        });

        this.increment++;
      },
      highlight(scope) {
        if (!_.isUndefined(scope)) {
          this.process[scope.$index].highlight = true;
        }
      },
      clearHighlight(scope) {
        if (!_.isUndefined(scope)) {
          this.process[scope.$index].highlight = false;
        }
      },
    },
    mounted() {
      this.addProcess(3);
      this.addProcess(1);
      this.addProcess(4);
      this.addProcess(1);
    },
  };
</script>

<style>
  .row-process:hover .remove-process {
    display: block;
  }
  .table-process thead th {
    background: #eee;
  }
</style>