<template>
  <div>
    <NavControl />

    <div class="flex">
      <div class="w-40 pa2">
        <Table :process="process" />
      </div>
      <div class="w-60 pa2">
        <div class="diagram-container">
          <div class="mb3">
            <div class="b f5 pb2">FIFO - First-In First-Out</div>
            <div class="overflow-x-auto">
              <Diagram method="fifo" :process="process" />
            </div>
          </div>

          <div class="mb3">
            <div class="b f5 pb2">SJF - Shortest Job First</div>
            <div class="overflow-x-auto">
              <Diagram method="sjf" :process="process" />
            </div>
          </div>

          <div class="mb3">
            <div class="b f5 pb2">SRT - Shortest Remaining Time</div>
            <div class="overflow-x-auto">
              <Diagram method="srt" :process="process" :capacity="capacity" />
            </div>
          </div>

          <div class="mb3">
            <div class="b f5 pb2">RR - Round Robin</div>
            <div class="flex bb b--moon-gray pb1 mb2">
              <label class="pr1 nowrap f7">Quantum: </label>
              <input v-model="capacity.rr" class="tl gray f7" type="number" min="1" />
            </div>

            <div class="overflow-x-auto">
              <Diagram method="rr" :process="process" :capacity="capacity.rr" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from "lodash";

  import NavControl from "./Scheduler/NavControl";
  import Table from "./Scheduler/Table";
  import Diagram from "./Scheduler/Diagram";

  export default {
    name: 'scheduler',
    components: { NavControl, Table, Diagram },
    data: () => ({
      capacity: {
        rr: 2,
      },
      process: [],
    }),
    methods: {},
  };
</script>

<style>
  .diagram-container {
    /*max-height: 500px;*/
    /*overflow-y: auto*/
  }
</style>
