* {
    font-family: arial;
}
html, body, #app {
    height: 100%;
}
div {
    color: #999;
}
input {
    border: none;
    width: 100%;
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 14px;
}

/* OVERRIDE */
.el-button--primary {
    background: #00449e;
    border-color: #00449e;
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #003b8a;
    border-color: #003b8a;
}
.el-input__inner {
    padding: 0 0 0 10px;
}