<template>
  <div id="app" style="padding-top: 60px">
    <router-view></router-view>
  </div>
</template>

<script>
  import Vue from 'vue';
  import ElementUI from 'element-ui';

  import install from './install';
  install(module);

  Vue.use(ElementUI);

  export default {
    name: 'task-scheduler',
  };
</script>

<style>
  @import "~hover.css/css/hover-min.css";
  @import "~animate.css/animate.min.css";
  @import "~element-ui/lib/theme-chalk/index.css";
  @import "~tachyons/css/tachyons.min.css";

  @import "./assets/css/app.css";
</style>
